@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* box-sizing:border-box; */
}
:root{
    --thin-green:#ebfef6;
    --light-green:#cdfef6;
    --middle-green:#afd4d8;
    --dark-green:#008261;
    --font-green:#003026;
    --font-size:18px;   
    --translate-value:-90px;
}
.bar_success
{
        background-color:green;
}
.bar_warning
{
background-color:orange;

}
.bar_error
{
    background-color:red;

}
.icon_warning
{
 color:orange !important;
 border-color: orange !important ;
}
.icon_success
{
 border-color: green !important ;
}
.swal2-success-circular-line,.swal2-success-line-tip,.swal2-success-line-long
{
background-color: green !important;
}
.swal2-success-ring
{
    border-color:rgba(14, 153, 14, 0.588) !important;
}
.icon_error
{
 border-color: red !important ;
}
.swal2-x-mark-line-left,.swal2-x-mark-line-right
{
    background-color: red !important;
}
.alert_content
{
    font-size:17px;
    color:black;
    text-align:justify;
}
body{

    background-color:var(--light-green);
}
.nav-bars
{
    position:sticky;
    top:0;
    background-color: var(--light-green);
    z-index: 5;
}
.nav-bar
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:20px;
    padding-right:25px;
    margin-left:15px;
    margin-right:15px;
    border-bottom:var(--font-green) solid 1.5pt;
    font-size:var(--font-size);
    height:65px;
}
ul a
{
    text-decoration: none;
    color:var(--font-green);
    display:inline-block;
}
ul li::after
{
    content:"";
    height:2px;
    width:100%;
    background-color:var(--font-green);
    position:absolute;
    left:0;
    bottom:0;
    transition:.5s;
}
    ul{
        display:flex;
        align-items: center;
        list-style:none;
    }
    .border,ul li
    {
        padding-left:15px;
        border-left:var(--font-green) solid 2px;
        
    }
    ul li
    {
        padding-top:5px;
        padding-bottom:5px;
        margin-left:50px;
        position:relative;
        overflow-x:hidden;      
        padding-right:15px;
        
    }
    .logo img
    {
        height:50px;
        width:55px;
    }
.logout
{

    padding-top:5px;
    padding-bottom:5px;
    overflow-x:hidden;
    color:var(--font-green);
}
.logout .btn
{
    display: flex;
    padding-block:5px;
    padding-inline:7px;
    border-radius:10px;
    align-items: center;
    border: 2px var(--font-green) solid;

}
.logout .btn:hover
{
    background-color:var(--dark-green);
    color:white;
    /* transition:0.1s background-color; */
}

/* .logout_hide
{
    animation:trans_show 1s ease-in-out forwards reverse;
} */
.logout .btn span{
    font-size:18px;
    padding-left:5px;
    font-weight:bold;
}
.log-width{
    width:200px;
}
#og_logout
{
    position:absolute;
    display:flex;
    align-items:center;
    justify-content: center;
    color:var(--font-green);
    background-color: var(--dark-green);
    border-radius:10px;
    padding-block:5px;
    padding-inline:7px;
    color:white;
    border: 2px var(--font-green) solid;
    opacity:0;
    /* transition: 1s; */

}
#og_logout:hover
{
    background-color: var(--middle-green);
    color:var(--font-green);
}
#og_logout span
{
    padding-left:5px;
        font-weight:500;
}
.logout_show
{
    animation:trans_show 0.5s ease-in-out forwards;
}
@keyframes trans_show
{
    100%
    {
        opacity:1;
        transform:translateY(30px);
    }
}
/* logout button style below */


