/* ul li:nth-child(1) a
{
        transform:translateX(calc(var(--translate-value) - 3px ));
        animation:transform1 1s backwards;
} */
ul li:nth-child(2) a
{
    /* transform:translateX(calc(var(--translate-value) - 37px )); */
    animation:transform2 1s backwards;
}
ul li:nth-child(3) a
{
    /* transform:translateX(calc(var(--translate-value) - 42px )); */
    animation:transform3 1s backwards;
}
ul li:nth-child(4) a
{
    /* transform:translateX(calc(var(--translate-value) - 4px )); */
    animation:transform4 1s backwards;
}
ul li:nth-child(5) a
{
    animation:transform5 1s backwards;
}
.logout .btn
{
        display:flex;
        /* transform:translateX(calc(var(--translate-value) - 11px )); */
        animation:transform5 1s backwards;

}


