@keyframes select1
{
    0%
    {
        transform:translateX(0px);
    
    }
    100%
    {
        transform: translateX(-310px);
    }
}
@keyframes select2
{
    0%
    {
        transform:translateX(-310px);
    
    }
    100%
    {
        transform:translateX(0px);
    }
}
@keyframes select1_rev
{
    0%
    {
      transform: translateX(-310px);
      
    }
    100%
    {
      transform:translateX(0px);
    }
}
@keyframes select2_rev
{
    0%
    {
      transform:translateX(0px);
      
    }
    100%
    {
      transform:translateX(-310px);
    }
}
/* @keyframes cheque_table
{
    0%
    {
        width:100%;
        height:auto;
        transform:scaleX(1);
    
    }
    100%
    {
        width:0;
        height:0;
        transform: scaleX(0);
    }
}
@keyframes cash_table
{
    0%
    {
        width:0;
        height:0;
        transform:scaleX(0);
    
    }
    100%
    {
        width:100%;
        height:auto;
        transform: scaleX(1);
    }
}
@keyframes cheque_table_rev
{
    0%
    {
        transform:scaleX(0);
    
    }
    100%
    {
        transform: scaleX(1);
        display:block;

    }
}
@keyframes cash_table_rev
{
    0%
    {
        transform:scaleX(1);
    
    }
    100%
    {
        transform: scaleX(0);
        display:none;
    }
} */