#datatable
{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#datatable h1{
  padding-top:20px;
}
 table ,td,th
 {
  border:black 1px solid;
  border-collapse:collapse;
 }
body
{
  position: relative;
  overflow-x: hidden;
}
#cheque_table
{
  height:100%;
  max-height: 100vh;
  overflow:auto;
}
#options
{
  width:100%;
display:flex;
justify-content: space-between;
align-items:center;
border-bottom:dotted black 2px;
padding-bottom:10px;

}
#s1,#n1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option
{
  display:flex;
  align-items:center;
}
.label
{
  padding-right:10px;
  font-size:20px;
}
#mode
{
  margin-right:10px;
}
/* .mode_selection
{
  align-self: flex-start;
} */
#new_btn
{
  margin-right:20px;
  padding-bottom:5px;
}
#calc_btn
{
  margin-right:20px;
}
#calc_option
{
  padding-right:10px;
}
.file_selection #overall_csv 
{
  width:200px;
}
.file_selection
{
    padding-left:20px;

}
.select{
  display:flex;
  align-items: center;
}
.select select
{
  height:25px;
  margin-right:20px;
}
#switch-new
{
  width:430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
#switch
{
  margin-left:50px;
}
#div_form_option{
  width:auto;
  /* justify-content: flex-end; */
}
#form_option
{
  height: 25px;
}
#option_btn
{
  width:53%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #new
{
  width:200px;
  display:flex;
  justify-content: space-between;
} */
.option #select{
  position: relative;
  height:70px;
  display:flex;
  justify-content: flex-start;
  /* padding-left:20px; */
  align-items: center;
  /* border-left:2px solid var(--font-green); */
  overflow-x: hidden;
}
.option .select
{
  background-color: var(--light-green);
}
#select1
{
  z-index: 3;
  /* transform: translateX(-310px); */
  animation-duration: 1s;
}
#select2
{
  z-index:2;
  transform: translateX(-310px);
  animation-duration: 1s;
}
/* table style */

#table-content
{
  /* margin-top:40px;  */
  display:flex;
  width:98%;
}
.table-cash
{
  background-color: var(--light-green);
  width:100%;

}
.table-cash h1{
  text-align:center;

}
#table-content .input
{
  width:240px;
  float:right;
  margin-top:20px;
}
#tot1,#tot2
{
    border:2px solid  var(--font-green);

}
#myTable1 td:not(:nth-child(3)),#myTable1 th:not(:nth-child(3))
{
  text-align:center !important;
}




/* button style for switch */


.download-btn {
  height: 45px;
  width: 95px;
  cursor: pointer;
  background: white;
  border: none;
  background: var(--dark-green);
  border-radius: 30px;
  overflow: hidden;
}
.download-btn:hover
{
    background-color: var(--font-green);
    transition:250ms;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container .text {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: #fff;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:focus .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* datatable style */

#cheque_table .dt-buttons
{
  display:inline-block;
  margin-bottom:10px;
}
#cheque_table .dt-search
{
  display:inline-block;
  padding-left:10px;
}

/* defaulter table view */

#defaulter_table
{
  display: none;
  width:90vw;
  height:70vh;
  position: fixed;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding-inline: 10px;
  z-index: 5;
  max-height: fit-content;
  max-width:fit-content;
}
#defaulters_list
{
  border:1px solid black;
  border-collapse: collapse;
}
#defaulters_list td ,#defaulters_list th{
  text-align: center;
}
.defaults_con
{
  background-color: white;
    border-radius: 10px;
    padding:10px;
    width:100%;
    height:100%;
  overflow: auto;
  max-height: fit-content;
  max-width:fit-content;

}
#defaults_close
{
  position: relative;
  height: 30px;
}
#defaults_close svg
{
  background-color: rgb(255, 0, 0);
  color:white;
  border-radius: 5px;
  position: absolute;
  right:5px;
}
#defaults_close svg:hover
{
  background-color: rgb(255, 78, 78);
}


