<div class="nav-bars">
        <nav class="nav-bar">
        <div class="logo">
            <img src="./images/measi_logo-removebg.png" alt="no logo ">
        </div>
        <ul>
            <li id="nav1" class="li visit1 hover1"><a href="homepage.php?page=1">Home</a></li>
            <li id="nav2" class="li visit2 hover2"><a href="collection.php?page=2">Collection</a></li>
            <li id="nav3" class="li visit3 hover3"><a href="defaulters.php?page=3">Defaulters</a></li>
            <li id="nav4" class="li visit4 hover4"><a href="transfer.php?page=4">Transfer</a></li>
            <li id="nav5" class="li visit5 hover5"><a href="about.php?page=5">About</a></li>
        </ul>
        <div class="logout border">
            <div class="btn">
                Logout
            </div>
        </div>
    </nav>
</div>